
wordpress/web\.config

wordpress/wp-config\.php

wordpress/php_errors\.log

wordpress/local-config\.php

wordpress/wp-content/debug\.log

node_modules/

*.css

wordpress/wp-content/uploads/

wordpress/wp-content/plugins/wordpress-importer/

gulpfile\.js
