/**
* Header styling
*/
.hamburger {
  display: none;
}

/* =Navigation
----------------------------------------------- */
.navbar {
  height: 80px;
  border-radius: 0;
  background-color: #000E;
  a:hover {
    color: #FFFE;
  }
}

#menu-header-menu .active > a {
  color: #FFFE;
}

.navbar-dropdown-menus {
  float: right;
}

.navbar-default {
  border: none;
  padding: 0;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: -2px;
  border-bottom: 1px solid #eee;
}
.navbar-header {
  position: absolute;
}
.navbar-default .navbar-dropdown-menus > li {
  float: left;
}
.navbar-dropdown-menus > li > a {
  position: relative;
  display: block;
  font-size: 16px;
  padding: 18px 15px;
  line-height: 30px;
}

.dropdown-menu {
  padding: 0;
  margin-top: 0px;
  background: rgba(34, 34, 34, 0.9);
  border-radius: 0px 0px 5px 5px;
  border-bottom: none;
  font-size: 14px;
}
.dropdown-menu li a {
  display: block;
  padding: 14px 20px;
  clear: both;
}
.dropdown-menu .active > a {
  border: none;
}

.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0 !important;
  overflow: visible !important;
}

.navbar-default .navbar-dropdown-menus {
  display: inline-block;
}
.navbar-default .navbar-dropdown-menus .dropdown-menu {
  position: absolute;
}
.navbar-default .navbar-dropdown-menus .open .dropdown-menu {
  display: block;
}

.dropdown-menu .divider {
  background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 1200px) {
  .navbar-dropdown-menus> li > a {
    font-size: 16px;
  }

  .navbar > .container .navbar-brand {
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  .dropdown-menu {
    top: 0;
  }

  .container {
    height: 100%;
  }
  .container .navbar-header .navbar .container {
    display: block;
  }
  .container #hamburger-button {
    padding: 0;
    display: block;
    float: right;
    outline: 0;
    margin-left: auto;
    z-index: 1;
  }
  .container #hamburger-button .hamburger-box {
    vertical-align: middle;
  }
  .container #hamburger-button .hamburger-box .hamburger-inner {
    background-color: #DAA520;
  }
  .container #hamburger-button .hamburger-box .hamburger-inner::before, .container #hamburger-button .hamburger-box .hamburger-inner::after {
    background-color: #DAA520;
  }

  #navbar {
    display: block;
    visibility: hidden;
    margin: 0;
    transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
    position: fixed;
    width: 100vw;
    height: 100vh !important;
    top: 0;
    left: 0;
    background: rgba(34, 34, 34, 0.9);
    z-index: 1;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    padding: 0;
  }
  #navbar.overlay-active {
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: transform 0.4s ease-in-out;
  }
  #navbar #menu-header-menu {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -moz-justify-content: center;
    justify-content: center;
    height: 100%;
    list-style: none;
    padding: 0 2rem;
    margin: 0;
    text-align: left;
    flex-flow: column nowrap;
    float: none;
    font-size: 30px;
    font-weight: 700;
  }
  #navbar #menu-header-menu li {
    border-top: #DAA520 1px solid;
    border-bottom: #DAA520 1px solid;
    width: 50%;
  }
  #navbar #menu-header-menu li:first-child {
    border-top: 0;
    border-bottom: 0;
  }
  #navbar #menu-header-menu li ul {
    background-color: transparent;
    position: relative;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  #navbar #menu-header-menu li ul.dropdown-menu.show {
    display: block;
  }
  #navbar #menu-header-menu li ul li {
    width: 100% !important;
    border-top: 0;
    border-bottom: 0;
  }
  #navbar #menu-header-menu li ul li a {
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 30px;
    font-weight: 700;
    padding-left: 30px;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  #navbar #menu-header-menu li {
    width: 65%;
  }
}
@media (max-width: 992px) {
  #navbar #menu-header-menu li a {
    line-height: 3rem;
    font-size: 3rem;
  }
}
@media (max-width: 576px) {
  #menu-header-menu {
    padding-top: 100px !important;
  }
  #menu-header-menu .menu-item-has-children ul li {
    width: 100%;
  }
  #menu-header-menu .menu-item-has-children ul li:last-child a {
    border-bottom: #DAA520 1px solid;
  }
  #menu-header-menu .menu-item-has-children ul li a {
    font-size: 20px !important;
    font-weight: 700;
    padding-left: 30px;
  }
  #menu-header-menu li {
    width: 80% !important;
  }
  #menu-header-menu li a {
    line-height: 2rem !important;
    font-size: 2rem !important;
  }
}