/* comments css */

.comment-form .comment-respond .comment-form p input,
.comment-form .comment-respond .comment-form p textarea {
    width: 100%;
    border-radius: 3px;
    border-color: #DBDBDB;
    border-style: solid;
    border-width: 1px;
    height: 50px;
}

.comment-form .comment-respond .comment-form p #comment {
    height: 200px;
}

#comments {
    font-size: 18px;
    margin-bottom: 50px;
}

.comment-form h3.comment-reply-title {
    font-size: 30px;
    font-weight: 400;
}

.comment-form .comment-respond .comment-form p label {
    display: inline-block;
    margin-bottom: 15px;
    font-size: 18px;
    margin-top: 15px;
    color: #666666;
}

.comment-form .comment-respond .comment-form p.form-submit #submit {
    background-color: #2186C4;
    padding: 16px 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 600;
    -webkit-border-radius: 3px;
    border-color: transparent;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-style: none;
    border-width: 0px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    display: inline-block;
    width: auto;
}

.comment-form .comment-respond .comment-form p.form-submit #submit:hover {
    background-color: #339AD6;
}

.comment-form .comment-respond .comment-form p.form-submit #submit:focus {
    background-color: #0077ff;
}

.comment cite, .comment a {
    margin-left: 50px;
}


.commentlist, .commentlist ul {
    list-style: none;
}

.commentlist {
    padding-left: 0px;
    li.comment .comment-body .comment-meta {
        padding-left: 15px;
        padding-right: 15px;
        text-align: right;
        padding-top: 7px;
    }

    li.comment .comment-body .comment-author {
        padding-left: 15px;
        padding-right: 15px;
    }
    .avatar {
        height: 39px;
        left: 2.2em;
        top: 2.2em;
        width: 39px;
    }
    >li.comment:after {
        content: "";
        display: table;
        clear: both;
    }
    .children {
        margin-top: 20px;
    }
    li.comment .comment-body p {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 52px;
        font-weight: 400;
        color: #666666;
        font-size: 18px;
    }
    li.comment .comment-body {
        margin-right: -15px;
        margin-left: -15px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: transparent;
    }
}

.comment cite.fn {
    margin-top: 7px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
}

.navigation {
    margin-top: 30px;
    .prev-posts {
        float: left;
        display: inline-block;
    }
    .next-posts {
        float: right;
        display: inline-block;
    }
    .prev-navigation {
        display: inline-block;
        width: 33%;
        height: 24px;
        float: left;
    }
    .numbers-navigation {
        display: inline-block;
        width: 33%;
        height: 24px;
        text-align: center;
        padding-top: 15px;
    }
    .next-navigation {
        display: inline-block;
        width: 33%;
        height: 24px;
        text-align: right;
    }
    li.comment.even {
        background-color: #f5f5f5;
    }
    li.comment.odd {
        background-color: #ffffff;
    }
    >li.comment {
        background: none;
        position: relative;
        width: auto;
        clear: both;
    }
}

.comment-body:after {
    content: "";
    display: table;
    clear: both;
}

.comment a {
    text-decoration: none;
    color: #666666;
    margin-left: 15px;
    font: normal normal 300 18px/normal Source Sans Pro, sans-serif;
}

.comment a.comment-edit-link {
    color: #666666;
    margin-left: 10px;
    display: none;
}

div a.comment-edit-link:hover {
    color: #0099ff;
}

.comment-body p {
    font-size: 14px;
    text-align: left;
}

.comment a.comment-reply-link {
    padding: 10px 17px;
    background-color: #E6E6E6;
    min-width: 50px;
    margin-left: auto;
    color: #333333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font: normal normal 600 16px/normal Source Sans Pro, sans-serif;
    text-transform: uppercase;
}

div a.comment-reply-link:hover {
    background-color: #FF7F66;
    color: #FFFFFF;
    font: normal normal 600 16px/normal Source Sans Pro, sans-serif;
    text-transform: uppercase;
}

.comment a.url {
    color: #333333;
    font-weight: 600;
}

div .commentlist li {
    padding: 20px;
}

span.comments-number {
    font-size: 30px;
    font-weight: 400;
}

.comment-respond {
    font-weight: 400;
    font-size: 13px;
}

.comments-form {
    margin-top: 0px;
    font-size: 13px;
}

.comments-form a {
    font-size: 18px;
    color: #2186C4;
    text-decoration: none;
}

.comment-form label {
    display: block;
}

p.logged-in-as {
    font-weight: 400;
    font-size: 16px;
}

.post-comments .navigation .prev-posts a:hover, .post-comments .navigation .next-posts a:hover {
    text-decoration: underline;
}

.comment-form .comment-respond .comment-form p.logged-in-as a:hover {
    text-decoration: underline;
}